.Event {
    font-family: sans-serif;
    font-size: 16px;
    color: black; 
    margin: 0 auto;
    width: 400px;
    text-align: center;
}

h1 {
    color: red; 
    text-align: center;
}

input {
    background-color: yellow; 
    color: black; 
    border: 1px solid black; 
    padding: 5px; 
    font-size: 16px; 
    border-radius: 5px;
    margin: 0 auto;
    display: block;
}

input[type=submit] {
         border: 2px solid red;
              background-color: red;
              color: white;
              outline: 0;
              height: 45px;
              width: 100px;
              font-size: 16px;
              text-align: center;
              cursor: pointer;
              transition: all 0.3s ease-in-out;
              &:hover {
                background-color: white;
                color: red;
}
}

label{
    padding-left: 300px;
    color: red;
}
.center{
    display: grid;
    place-items: center;
}
