.carousel {
  position: relative;
  width: 1100px;
  left: 13em;
  bottom: 2em;
}

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 24px;
}

.main-image-container {
  padding: 4rem;
  height: 600px;
  width: 100%;

  .main-image {
    height: 500px;
    object-fit: cover;
    border-radius: 5px;
    width: 100%;
  }
}

//for the slider boxes. 
.slider-container {
  border-style: solid ;
  border-color: #006149;
  border-radius: 0.5em;
  width: 300px !important;
  margin: 3em;
  padding: 0.8em;

  img {
    text-align: center;
    margin-left: 3em;
  }
}

.grid-4-columns {
  margin: auto;
  width: min(90%, 75rem);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4em;
  padding: 2.5rem;
}

/* this is for allowing a box to fill 
  2 spaces horizontally*/
.grid-col-span-2 {
  grid-column: span 2;
}

/* card for storing products*/
.box {
  height: 400px;
  width: 300px;
  padding: 8px;
  border-radius: 5px;
  margin: auto;
}

#card-img {
  height: 200px;
  width: 300px;
}

//THIS IS FOR THE BUTTON
.add-cart {
  border: 2px solid #006149;
  background-color: #006149;
  color: white;
  outline: 0;
  height: 40px;
  width: 100%;
  font-size: 16px;
  text-align: center;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  //button hover
  &:hover {
    background-color: white;
    color: red;
  }
}

#margin-element{
  margin-left: 1em;
}