.login-container {
  padding: 8px 12px;
  margin-bottom: 2rem;

  h2 {
    font-size: 24px;
    line-height: 30px;
    font-weight: 500;
    color: red;

  }

  h6 {
    color: aqua;
    font-size: 15px;
    text-align: center;
    margin-top: 20px;
  }

  .login-input {
    width: 100%;
    padding: 10px 15px;
    border: 1px solid #000;
    background: #fff;
    outline: none;
    font-size: 14px;
    color: #000;
    margin: 10px 0;

    &:focus {
      border-color: red;
    }
  }

  .login-btn {
    border: 2px solid red;
    background-color: red;
    color: white;
    outline: 0;
    height: 45px;
    width: 100%;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    &:hover {
      background-color: white;
      color: red;
    }
  }
}