.confirm-box {
    position: relative;
    align-items: center;
    justify-content: center;
    height: 40vh;
    width: 60vh;
    top: 10em;
    background-color: #006149;
    text-align: center;
    box-shadow: 10px 10px 10px gray;

}

.order-contents {
    position: relative;
    top: 8em;

}

.Continue_Shopping_Div {
    padding-top: 240px;
}