.cart {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  width: 100%;
  min-width: 1200px;
  padding-top: 36px;
  padding-bottom: 16px;
  .items {
    width: 70%;
    padding-right: 6px;
    .cart-container {
      background-color: white;
      .list-group {
        .list-group-item {
          .list-group-row {
            display: flex;
            align-items: center;
            justify-content: center;
            .image-container {
              display: flex;
              align-items: center;
              justify-content: center;
              img {
                width: 100%;
                height: 80px;
                object-fit: contain;
              }
            }
          }
        }
      }
    }
  }
  .summary {
    width: 30%;
    padding-left: 6px;
    .summary-container {
      background-color: white;
    }
  }
}
