.main-image-container {

    padding: 3rem;
    width: 1250px;
    height: 600px;
    display: inline-block;

        .main-image{
            height : 500px;
            object-fit:cover;
            width: 1100px;
            border-radius: 5px
              }
    
    
}
.grid-4-columns{
    margin: auto;
    width: min(90%, 75rem);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4em;
    padding: 2.5rem;
  }
  
  /* this is for allowing a box to fill 
  2 spaces horizontally*/
  .grid-col-span-2 {
    grid-column: span 2;
  }
  
  /* card for storing products*/
  .box {
    height: 400px;
    width: 300px;
    padding: 8px;
    border-radius: 5px;
    margin: auto;
  }
  