.box {
  height: 100px;
  width: 300px;
  background-color: blanchedalmond;
  border: 3px solid blue;
  padding: 10px;
  margin: auto;
}
.frontPicture {
  width: 100%;
  height: 400px;
  background-color: azure;
  margin: auto;
  border: 3px solid brown;
  background-image: url("/src/images/brickbinbanner.png");
}
