.main-image-container {
    border: 2px solid #1C6EA4;
    padding: 3rem;
    width: 1200px;


        .main-image{
            height : 600px;
            object-fit:cover;
            width: 1200px;
        }
    
    
}
.grid-4-columns{
    margin: auto;
    width: min(90%, 75rem);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4em;
    padding: 2.5rem;
  }
  
  /* this is for allowing a box to fill 
  2 spaces horizontally*/
  .grid-col-span-2 {
    grid-column: span 2;
  }
  
  /* card for storing products*/
  .box {
    height: 400px;
    width: 300px;
    background-color: blanchedalmond;
 
    padding: 8px;
    margin: auto;
  }
  