*,
*::before,
*::after {
    box-sizing: border-box;
}
/* created a grid with 4 columns. We can fit 4 div boxes.*/
.grid-4-columns{
  margin: auto;
  width: min(90%, 75rem);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2em;
}

/* this is for allowing a box to fill 
2 spaces horizontally*/
.grid-col-span-2 {
  grid-column: span 2;
}