.title-container {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  height: 100px;
  background-color: #e8b041;
  position: relative;
  margin-top: 2.5em;
  width: 78em;
  border-radius: 5px;
}
.Title {
  width: 315px;
  color: #fff;
  position: absolute;
  top: 29px;
  left: 450px;
  /* font-family: 'Inter', sans-serif; */
  font-size: 30px;
  text-align: center;
}

.cart-items {
  font-size: 32px;
  text-align: left;
}

.cart-Price {
  width: 77px;
  font-size: 1em;
  text-align: left;
}

.Quantity {
  width: 129px;
  font-size: 32px;
  text-align: left;
}


.summary-container{
  width: 320px;
  height: 600px;
  background: rgba(217, 217, 217, 1);
  opacity: 1;
  position: absolute;
  text-align: center;
  padding: 2em;
  top: 280px;
  left: 1150px;
  overflow: hidden;
}

.checkout-button {
  width: 143px;
  background: #e8d783;
  position: absolute;
  top: 950px;
  left: 1230px;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.Checkout:hover {
  background: #fa9898;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.price-header{
  font-size: 2em;
}

ul {
  list-style-type: none;
}

td, th{
  display: inline-block;
  padding-right: 200px;
  padding-top: 130px;
  height: 10px;
  width: 190px;
  
}
.item-table{
  position: relative;
  left: 2em;
  bottom: 5em;
  text-align: left;
  margin-bottom: 20em; 

}
.pic {
  width: 50px; /* adjust to fit your image size */
}
.name {
  width: 150px; /* adjust to fit your text size */
}

.quantity {
  width: 350px; /* adjust to fit your text size */
  
}
img {
  width: 60px;
  height: 60px;
}
.remove-button {
  margin-left: 50px;
  margin-top: -70px;
  display: inline-block;
  color: red;
  text-align: center;
  opacity: 0.9;
  display: inline-block;
  border-radius: 8px;
  background-color: yellow;
}
