.App {
  width: 100%;
  min-height: 100vh;
}

.main {
  max-width: 1200px;
  margin: 0 auto;
}

.nav {
  width: 100%;
  height: 84px;
  background-color: #fdd201;

  .container {
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .right {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      flex-direction: row;
      height: 100%;
      .nav-list {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        list-style: none;
        background-color: transparent;
        margin-bottom: 0;
        li {
          padding: 0 10px;
          a {
            text-decoration: none;
            font-size: 24px;
          }
          .icon-button {
            color: black;
            display: flex;
            align-items: center;
            justify-content: center;
            p {
              margin-bottom: 0;
              margin-left: 8px;
              font-size: 18px;
            }
            transition: color 0.3s ease-in-out;
            &:hover {
              color: #ff0000;
            }
          }
        }
      }
    }
    .left {
      height: 100%;
      .left-box {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: row;
        height: 100%;

        .logo-link {
          @media (max-width: 600px) {
            display: none;
          }
        }

        .nav-list {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          list-style: none;
          background-color: transparent;
          margin-bottom: 0;
          @media (max-width: 600px) {
            display: none;
          }
          li {
            padding: 0 10px;
            a {
              text-decoration: none;
              font-size: 18px;
              color: black;
              transition: all 0.3s ease-in-out;
              text-transform: uppercase;
              &:after {
                content: "";
                width: 0%;
                height: 4px;
                background-color: black;
                display: block;
                transition: width 0.3s ease-in-out;
              }
              &:hover {
                &:after {
                  width: 100%;
                }
              }
            }
          }
        }
      }
    }
  }
}

.menu-button {
  background-color: transparent;
  outline: 0;
  border: 0;
  @media (min-width: 600px) {
    display: none;
  }
  transition: color 0.3s ease-in-out;
  &:hover {
    color: #ff0000;
  }
}

.logo-nav {
  height: 100px;
  width: 150px;
  padding-bottom: 20px;
}

.logo-nav-drawer {
  height: 100px;
  width: 150px;
}

.drawer-nav-list {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  padding: 0;
  li {
    margin-bottom: 12px;
    padding-left: 12px;
    a {
      text-decoration: none;
      font-size: 18px;
      color: black;
      transition: all 0.3s ease-in-out;
      text-transform: uppercase;
      &:after {
        content: "";
        width: 0%;
        height: 4px;
        background-color: black;
        display: block;
        transition: width 0.3s ease-in-out;
      }
      &:hover {
        &:after {
          width: 100%;
        }
      }
    }
  }
}

.section {
  padding: 0 20px;
  margin-bottom: 20px;
}
//input tag from event.scss is overriding
.search-bar {
  margin-right: 512px;
  border-radius: 10px;
  border-color: red;
}
//what does this do?
.filter-select {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.filter-select input[type="radio"] {
  margin-right: 8px;
  -webkit-appearance: none;
  border-radius: 50%;
  border: 3px solid #ccc;
  display: inline-flex;
  transition: border-color 0.2s ease-in-out;
}

.filter-select input[type="radio"]:checked {
  border-color: red;
}

.filter-select label {
  display: inline-flex;
  margin-left: -500px;
  cursor: pointer;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0px 0px 15px 0px; //color
  transition: 0.2s;
}
.filter-bar {
  border: 2px solid red;
  width: 300px;
  padding: 1rem;
  margin-left: -20%;
  position: relative;
  top: 40px;
  input {
    display: inline;
  }
}

.home {
  padding-top: 20px;
  padding-bottom: 20px;

  .container {
    .inventory-list {
      list-style: none;
      background-color: transparent;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-direction: row;
      flex-wrap: wrap;
      //gap: 0.5rem;
      padding-left: 140px;
      margin-top: -20%;
      width: 100%;
      max-width: 1100px;
      padding-top: 25px;

      li {
        flex-basis: 33.33%;
        max-width: 33.33%;
        box-sizing: border-box;
        padding: 10px;

        .card {
          max-width: 250px;
          display: flex;
          align-items: flex-start;
          justify-content: flex-start;
          flex-direction: column;
          border: 3px solid red;
          border-radius: 12px;
          height: 350px;
          padding: 1rem;
          object-fit: contain;

          img {
            width: 100%;
            height: 150px;
          }

          .title {
            height: 25px;
            font-size: 15px;
            font-weight: bold;
          }
        }
      }
    }
  }
}

.Footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #f5e505;
  color: #000;
  text-align: center;
  padding: 20px;
  box-shadow: 0 -2px 6px rgba(0, 0, 0, 0.3);
  .footer a {
    color: black;
    text-decoration: none;
    margin-right: 10px;
    .footer a:hover {
      color: white;
    }
  }
}

.button {
  width: 100%;

  .add-cart {
    border: 2px solid red;
    background-color: red;
    color: white;
    outline: 0;
    height: 40px;
    width: 100%;
    font-size: 16px;
    text-align: center;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    //button hover
    &:hover {
      background-color: white;
      color: red;
    }
  }
}
