li {
    display: inline;
    
  }
  ul {
    list-style-type: none;
    margin: 0;
    
    overflow: hidden;
    background-color: #dddddd;
    height: 100px;
  }
  p {
    display: block;
    padding: 8px;

  }